@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');
@import url('https://fonts.cdnfonts.com/css/dancing-script');

:root {
  --color-primary: #396afc;
  --color-secondary: #0099ff;
  --text-color-primary: #000000cc;
  --text-color-secondary: #283c86;
  --text-color-white: #fff;
  --color-black: #000;
  --bg-color-primary: #396afc;
  --bg-color-secondary: #283c86;
  --bg-color-black: #000;
  --bg-color-red: #881e1e;
  --font-family-primary: 'Museo Sans Rounded', Roboto, Droid Sans, Arial,
    sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-primary);
  color: var(--text-color-primary);
  font-weight: 500;
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
  background-image: url(../public/main_bg.svg);
  background-size: contain;
  scroll-behavior: smooth;
}

a {
  color: var(--color-black);
  text-decoration: none;
  background: transparent;
  transition: all 0.25s;
}

* {
  box-sizing: border-box;
}

svg {
  stroke-width: 0.8;
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/*Additional styling*/
/* .fa {
  color: #fff;
}

.fa:hover {
  background-color: transparent;
}

.editor-toolbar {
  background-color: #396afc;
}

.editor-toolbar button.active {
  background-color: transparent;
} */
