@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');
@import url('https://fonts.cdnfonts.com/css/dancing-script');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Museo Sans Rounded', Roboto, Droid Sans, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
  background-image: url(../public/main_bg.svg);
  background-size: contain;
}

a {
  color: #000;
  text-decoration: none;
  background: transparent;
  transition: all 0.25s;
}

* {
  box-sizing: border-box;
}

svg {
  stroke-width: 0.8;
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/*Additional styling*/
.fa {
  color: #fff;
}

.fa:hover {
  background-color: transparent;
}

.editor-toolbar {
  background-color: #396afc;
}

.editor-toolbar button.active {
  background-color: transparent;
}
