.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  max-width: 30rem;
  width: 90%;
  box-shadow: 1px 1px 5px 1px #e0e0e0;
}

.accountOptions {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.signUpOption {
  cursor: pointer;
  width: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(210, 5%, 98%, 1);
  border-top: 2px solid #b9b9b9;
  font-size: 1.1rem;
}

.signInOption {
  cursor: pointer;
  width: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #283c86;
  color: #283c86;
  font-size: 1.1rem;
}

.signin {
  padding: 0 2rem;
}

.signup {
  padding: 0 2rem;
  padding-bottom: 2.5rem;
  display: none;
}

.label {
  font-size: 2rem;
}

.textBox {
  width: 100%;
  border: 1.3px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 0.6rem;
  font-size: 1.1rem;
}

.textBox::placeholder {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.passContainer {
  display: flex;
  width: 100%;
}

.passBox {
  width: 90%;
  border: 1.3px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 0.6rem;
  font-size: 1.1rem;
}

.passBox::-ms-reveal {
  display: none !important;
}

.passBox::placeholder {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textBox:focus,
.passBox:focus {
  outline: 1px solid #283c86;
}

.visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1.3px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1.3px solid rgba(0, 0, 0, 0.8);
  border-right: 1.3px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  width: 10%;
}

.visibility img {
  cursor: pointer;
}

.formWrapper {
  display: grid;
  gap: 2rem;

  /* margin-top: 0.8rem; */
}

.formWrapper .action {
  background-color: #283c86;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-radius: 2px;
}

.formWrapper .action:disabled {
  background-color: #6287f5;
  cursor: not-allowed;
}

.recoverKey {
  color: #283c86;
  text-align: center;
}

.alertErrorBox__1 {
  border: 1px solid #cc0000;
  font-size: 12px;
  padding: 0.5rem;
  display: none;
  gap: 0.7rem;
  color: #363636;
  line-height: 1.666666667;
  margin-top: 0.7rem;
  transition: all 0.01s ease-in-out;
}

.alertErrorBox__2 {
  border: 1px solid #cc0000;
  font-size: 12px;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  color: #363636;
  line-height: 1.666666667;
  margin-top: 0.7rem;
}
