/* Subscription box */
.subscription__container {
  /* background: #006d5c; */
  background-color: #283c86;
  padding: 1px 1.5rem;
  display: grid;
  text-align: center;
  width: 100%;
}

.subscription__header {
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: #fff;
  position: relative;
  text-align: center;
}

.subscription__input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.subscription__input input {
  color: #fff;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #283c86;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  width: 80%;
  transition: all 0.25s;
  opacity: 0.4;
}

.subscription__input input::placeholder {
  opacity: 0.4;
}

.subscription__input input:focus {
  box-shadow: 0px 15px 10px -18px #7eff33;
}

.subscription__submit {
  border-radius: 50%;
  background: #fff;
  width: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.subscription__arrow {
  font-size: 2rem;
  color: #283c86;
}
.subscription__agreement {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  justify-content: center;
}

.subscription__label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subscription__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.subscription__label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.subscription__label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: none;
  border: 1px solid #fff;
  margin-top: 1rem;
  opacity: 0.4;
}

/* On mouse-over, add a background color */
.subscription__label:hover input ~ .checkmark {
  background-color: none;
}

/* When the checkbox is checked, add a background */
.subscription__label input:checked ~ .checkmark {
  background-color: #fff;
  opacity: 1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.subscription__label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.subscription__label .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #283c86;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.subscription__agreement p {
  font-size: 0.8125rem;
  padding: 0 4rem 2rem 0.7rem;
  color: #fff;
  opacity: 0.7;
}

@media screen and (min-width: 1024px) {
  /* .subscription__container {
    padding: 0 17rem;
  } */
}

@media screen and (min-width: 2160px) {
  .subscription__body {
    margin: 0 auto;
    width: 40%;
  }
}

@media screen and (min-width: 3820px) {
  .subscription__body {
    margin: 0 auto;
    width: 30%;
  }
}
