doctype html
html
    head
        title='Bechellente - New Account'
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style
          include styles.css
    body
        form(method='POST' action='http://localhost:8080/api/auth/register')
            legend Create New Account
            .form-group
                //- label(for='email') Email Address
                input.form-control(type='email', name='email', value='', placeholder='Email', pattern='^[A-Za-z0-9._%+-]+@bechellente.com$' required=true)
            .form-group
                //- label(for='firstname') First Name
                input.form-control(type='text', name='firstname', value='', placeholder='First Name', required=true)
            .form-group
                //- label(for='lastname') Last Name
                input.form-control(type='text', name='lastname', value='', placeholder='Last Name' required=true)
            .form-group-btn
                button.btn.btn-primary(type='submit') Let's go!